extends layout

block content
  h1= title
  a(href="./") Index
  <br/>
  a(href="./form") Form
  p Welcome to #{title}
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra mattis metus, vitae tempor enim congue volutpat. Praesent gravida metus in turpis consequat, sed ultricies diam consectetur. Proin vestibulum fringilla egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non purus vitae ex porttitor semper vitae sit amet erat. Vivamus neque nisl, faucibus non tincidunt non, placerat id orci. Duis nec nibh sodales, fermentum sem nec, blandit lorem. Morbi enim metus, elementum sit amet massa eget, pulvinar pretium neque. Donec vehicula est tristique arcu ullamcorper, ac placerat erat bibendum. Ut ultrices dui et ex porttitor, in maximus lectus eleifend. Praesent porttitor, quam pharetra dapibus facilisis, dui eros fringilla massa, vitae condimentum felis sapien eu urna. Sed ac eros sit amet velit condimentum blandit. Cras finibus ac turpis ut commodo. Mauris sed tortor ultricies, cursus tortor eu, aliquet orci. Maecenas erat mi, euismod et euismod id, sodales eu nisi. In velit ex, pulvinar eget ligula ut, ultrices fermentum libero.
  img(src="/images/aboutme.png",alt="Test")