extends layout

block content
  h1= title
  a(href="./about") About
  <br/>
  a(href="./form") Form
  p Welcome to #{title}
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus pulvinar metus, sit amet imperdiet urna mattis quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum aliquet eu turpis ut varius. Integer ornare iaculis turpis, in mollis ex maximus sed. Nullam a risus nunc. Morbi auctor facilisis malesuada. Curabitur est massa, convallis at diam eu, cursus imperdiet mi. Phasellus suscipit ac mi vestibulum dapibus. Nunc vitae semper ex.
  