extends layout

block content
    h1=title
    a(href="./") Index
    <br/>
    a(href="./about") About
    <br/>
    a(href="./form") Form
    p
    strong Name
    p #{name}
    p
    strong Email
    p #{email}
    p
    strong Comments
    p #{comments}
   